name: .NET BOT D1 BUILD MYPOP1

on:
  push:
    branches:
      - "master"
    # paths:
    #   - "./src/**"
    #   - .github/workflows/mypop-build-MYPOP1.yml

  pull_request:
    branches:
      - "master"
    paths:
      - "./src/**"
      - .github/workflows/mypop-build-MYPOP1.yml

  workflow_dispatch:

env:
  # /home/runner/work/publish
  Base: publish
  Component: MYPOP
  BuildName: 0.1.${{ github.run_number }}
  Environment: D1
  OrgName: MYPOP1
  Location: uksouth

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2

      # Add wait on concurrent workflows executing via https://github.com/marketplace/actions/action-turnstyle
      - name: Turnstyle
        uses: softprops/turnstyle@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup MSBuild
        uses: microsoft/setup-msbuild@v1

      - name: Navigate to Workspace
        run: cd $GITHUB_WORKSPACE

      - name: Run pwsh
        shell: pwsh
        run: |
          echo "${{ env.Base }}/${{ env.Component }}/${{ env.BuildName }}/"
      - uses: nuget/setup-nuget@v1
      - run: nuget restore src\MYPOP.sln

      - name: Create Build Directory
        run: mkdir ${{ env.Base }}/${{ env.Component }}/${{ env.BuildName }}/

      - name: Build Solution
        run: |
          msbuild.exe src\MYPOP.sln /nologo /p:platform="x64" /p:OutDir=${{ github.workspace }}/${{ env.Base }}/${{ env.Component }}/${{ env.BuildName }}/

      - name: Run pwsh
        shell: pwsh
        run: |
          Get-ChildItem -Path ${{ github.workspace }}\${{ env.Base }}\${{ env.Component }}\${{ env.BuildName }}\
          echo ${{ github.workspace }}

      - name: Login via Az module
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS_MYPOP1_BOT }}
          enable-AzPSSession: true

      - name: G1_RG_UploadArtifacts_to_Blob
        uses: Azure/powershell@v1
        with:
          inlineScript: |
            Get-ChildItem -Path  ./${{ env.Base }}/${{ env.Component }}/${{ env.BuildName }}/ # -Recurse

            $Params = @{
              App           = 'BOT'
              BuildName     = $env:BuildName
              ComponentName = $env:Component
              BasePath      = $env:Base
              OrgName       = $env:OrgName
              Location      = $env:location
            }
            & ./ADF/release-az/Sync-AzBuildComponent.ps1 @Params
          azPSVersion: latest

      - name: G1_RG_UpdateBuildMeta_to_Blob
        uses: Azure/powershell@v1
        with:
          inlineScript: |
            echo $home
            ls $home

            $Params = @{
              App           = 'BOT'
              BuildName     = $env:BuildName
              ComponentName = $env:Component
              BasePath      = $env:Base
              OrgName       = $env:OrgName
              Location      = $env:location
              Environment   = $env:Environment
            }
            & ./ADF/release-az/Update-AzBuildMetaData.ps1 @Params
          azPSVersion: latest
